{{- /* Highlight.js Library and Language Support */ -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{- /* Language-specific modules for better support */ -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/java.min.js" integrity="sha512-GAgzlKU5XsM2j0o7LwqMx4w3rx0K5Y+PqsUd4hFJWPXV/QBaOK0XcQaqAqDjfaTDRmr24bELEBmT9cjw4Wc0uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js" integrity="sha512-sv3o9x0z/Q5MRF0fFj4drdGqJdK+mvIMd2+LpHJR/txKnmCWFXgDQKOxBMYN4b6VGRYvn24C97VFjO6I3YZaFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/bash.min.js" integrity="sha512-YZItNNLu3Fe0N6TFIaHKJx/HqMShStFdsEPBXIE9bOaP/eIJJpP0xCM+JyiPEPZSLCosS0+ufVSkULy7f8YoKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/yaml.min.js" integrity="sha512-nUxLycoLDZ/wfCCfoW7HqrB2JWYxBLZjYvJqmGOH95p3S49h8P7Sgr48nneuNe4vEJjGHHKI7l1c/VqE/OBmMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js" integrity="sha512-FHMIa4u3OvlYvXW93L+GoIDvtCUCq4e2IY50EHHGZjVuD+fS3rTZr7VTg/FG2JSjBILPfZ89J1M1x+RM5rFhDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/properties.min.js" integrity="sha512-J3GCZ/bxUYeEPMcG5qT7X2q5L1rhlkJNI8g1j5RMzEz8wNaNmWFy3Bc5H0qXzaLR3XJ6TwEV6xMh/c4AYnQ8pQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/nginx.min.js" integrity="sha512-lot9koe73sfXIrUvIPM/UEhuMciN56RPyBdOyZgfO53P2lkWyyXN7J+njcxIIBRV+nVDQeiWtiXg+bLAJZDTfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{- /* Initialize Highlight.js */ -}}
<script>
  // Initialize highlighting on page load
  hljs.highlightAll();

  // Configure Highlight.js
  hljs.configure({
    ignoreUnescapedHTML: true  // Safer for user-generated content
  });
</script>
